<d@model IEnumerable<Book>
<div class="text-center">
    <div class="display-6">Books</div>

    <div class="d-flex justify-content-end my-3">
        <a class="btn btn-outline-success" asp-action="Create">
            <i class="fa fa-plus"></i>
            Create
        </a>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publication Year</th>
                <th>ISBN</th>


                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
                    @foreach (Book book in Model)
                    {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.PublicationYear</td>
                        <td>@book.ISBN</td>

                        <td>
                            <div class="btn-group">
                                <a class="btn btn-warning" asp-action="Update" asp-route-id="@book.Id">
                                    <i class="fa fa-edit"></i>
                                    Edit
                                </a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@book.Id">
                                    <i class="fa fa-trash"></i>
                                    Delete
                                </a>
                                <a class="btn btn-info" target="_blank" asp-area="" asp-controller="Books" asp-action="Get"
                                   asp-route-id="@book.Id">
                                    <i class="fa fa-search"></i>
                                    Go Details
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
        </tbody>
    </table>
</div>